<div class="modal" tabindex="-1" id="deletePostModal<%= post._id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this post? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button onclick="deletePost('<%= post._id %>')" type="button" class="btn btn-danger delete-post <%= post._id %>" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>