<div class="dropdown">
    <i class="option fas fa-ellipsis-v" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li data-bs-toggle="modal" data-bs-target="#editPostModal<%= post._id %>" class="edit-post"><a class="dropdown-item pointer"><i class="far fa-edit"></i> Edit</a></li>
      <li  data-bs-toggle="modal" data-bs-target="#deletePostModal<%= post._id %>"><a class="dropdown-item pointer"><i class="far fa-trash-alt"></i> Delete</a></li>
    </ul>
  </div>