    <div
          class="profile-card card shadow p-3 mb-5 bg-body rounded"
          style=" margin: 0 auto"
        >
          <img
            style="max-width: 200px; margin: 0 auto; border-radius: 50%"
            src=" <%= profileUser.profileUrl%> "
            class="card-img-top img-thumbnail"
            alt="Users Profile picture"
            width="20%"
          />
          <div class="card-body">
            <h5 style=" color: black; font-size: x-large; font-weight: bold;" class="card-title"><%= profileUser.name %></h5>
            <p class="card-text"><%= profileUser.description%></p>
            <% if (user._id.toString() === profileUser._id.toString()) { %>
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Edit profile
            </button>
            <% } else{ %>
              <button type="button" class="btn btn-primary add-friend-btn ">Add friend</button>
            <% }%>
          </div>
        </div>