<%- include('partials/head', {user: ""}); %>
<link rel="stylesheet" href="/login-register.css">
<link rel="stylesheet" href="/partials-css/nav.css">
</head>
<body>
  <%-  include('partials/nav', {user: ""}); %> 
    <!-- main -->
    <main id="main" class="container shadow-lg p-4 mb-4  rounded">
      <div class="logo-container">
        <img
          class="logo rounded mx-auto d-block"
          src="/logo.png"
          class="img-thumbnail"
          alt="logo"
        />
      </div>
      <form action="/auth/login" method="post">
        <div class="form-floating mb-3">
          <input
            type="email"
            name="username"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            required
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            name="password"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            required
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="submit-btn-container">
          <button type="submit" class="btn btn-primary">Sing In</button>
          <span>OR </span
          ><a
            href="auth/google"
            type="button"
            class="btn btn-outline-secondary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-google"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"
              />
            </svg>
            Login in with Google
          </a>
          <p>Dont have an account? <a href="/register">Sing Up</a></p>
        </div>
      </form>
    </main>
    <%- include('partials/footer'); %>
