<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/login-register.css" />
    <link rel="icon" href="/logo.png" type="image/x-icon" />
  </head>
  <body>
    <main id="main">
      <div class="logo-container">
        <img class="logo" src="/logo.png" alt="Logo" />
      </div>
      <form class="form" action="/auth/login" method="post">
        <div class="group">
          <label for="username"> Email </label>
          <input
            type="text"
            name="username"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="group">
          <label for="password">password</label>
          <input
            type="password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <div class="group">
          <button class="submit" type="submit">Login</button>
          <span class="log-text"
            >Dont have an account? <a href="/register">register</a> or login
            with <a class="link" href="/auth/google">google</a></span
          >
        </div>
      </form>
    </main>
  </body>
</html>
