<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <main>
      <form action="/auth/login" method="post">
        <div class="group">
          <label for="username"> Email </label>
          <input
            type="text"
            name="username"
            placeholder="Please enter your email"
            required
          />
        </div>
        <div class="group">
          <label for="password">password</label>
          <input
            type="password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <button type="submit">Login</button>
        <a href="/auth/google">Login with google</a>
      </form>
      <a href="/register">register</a><br />
    </main>
  </body>
</html>
