<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/login-register.css" />
    <link rel="icon" href="/logo.png" type="image/x-icon" />
  </head>
  <body>
    <main id="main">
      <div class="logo-container">
        <img class="logo" src="/logo.png" alt="Logo" />
      </div>
      <form class="form" action="/auth/register" method="post">
        <div class="group">
          <% if (error.emailError) { %>
          <span class="error"><%="error.emailError" %> </span><br />
          <% } %>
          <label for="username">Email</label>
          <input
            type="email"
            name="username"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Create your password"
            required
          />
        </div>
        <div class="group">
          <label for="confirm">Password</label>
          <input
            type="password"
            name="confirm"
            placeholder="Confirm Password"
            required
          />
        </div>
        <% if (error.passwordError) { %>
        <span class="error"><%= error.passwordError %> </span><br />
        <% } %>
        <div class="group">
          <button class="submit" type="submit">Register</button>
          <span class="log-text"
            >Already have an account? <a href="/login">login</a> or register
            with <a class="link" href="/auth/google">google</a></span
          >
        </div>
      </form>
    </main>
  </body>
</html>
