.create-post-img{
    border-radius: 50%;
    max-width: 60px;
    margin-left: 18%;
}

.post-img{
    border-radius: 50%;
    max-width: 87px;    
}

.create-post-name{
    width: 100%;
    min-width: max-content;
    margin: 0 1.2rem;
    text-decoration: none;
}

.post-name{
    text-decoration: none;
}

.create-post-name:visited, .post-name{
    color: black;
}
