
.create-post-img{
    border-radius: 50%;
    max-width: 60px;
    margin-left: 18%;
}

.post-img{
    border-radius: 50%;
    max-width: 87px;    
}

.create-post-name{
    width: 100%;
    min-width: max-content;
    margin: 0 1.2rem;
    text-decoration: none;
}

h5:hover{
    color: rgb(73, 73, 199);
}



.post-name{
    text-decoration: none;
}

.create-post-name:visited, .post-name{
    color: black;
}

.like:hover, .comment:hover, .share:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:  0 1rem 3rem rgba(0.1, .175);;
    transition: all 0.3s;
}
