.submit-btn-container {
  margin: 0.5rem 0;
}
.submit-btn-container *{
  margin: 0.5rem 0;
}
#main{
  max-width: 45%;
  margin: 2rem  auto 0 auto;
}


@media (max-width: 600px) {
  #main{
    max-width: 100%;
    margin: 2rem  auto 0 auto;
  }
}
