#main{
  margin: 1rem auto;
}
.logo, .navigation-logo {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.hidden{
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}

.like:hover, .comment-btn:hover, .share:hover{
  transform: scale(1.1);
  cursor: pointer;
  box-shadow:  0 1rem 3rem rgba(0.1, .175);;
  transition: all 0.3s;
}
h5:hover{
  color: rgb(73, 73, 199);
}

.post-img{
  border-radius: 50%;
  max-width: 87px;    
}